    <option selected>Choose...</option>
    <option value="action">Action</option>
    <option value="adventure">Adventure</option>
    <option value="rpg">RPG</option>
    <option value="shooter">Shooter</option>
    <option value="sport">Sport</option>
    <option value="simulation">Simulation</option>
    <option value="strategy">Strategy</option>
    <option value="puzzle">Puzzle</option>
    <option value="fighting">Fighting</option>
    <option value="racing">Racing</option>

